<ion-content >

  <div id="sign-in-button"></div>
  <div class="main">
    
    
        <ion-row class="row">
          <div class="fire-logo">
            <img src="../../assets/logo.png" class="img-logo">
            <ion-text class="ion-padding">
              <h2 class="fontx">Login e Registro</h2>
            </ion-text>
          </div>
        </ion-row>
       
          <ion-row>
            <ion-col>
              <ion-button expand="full" shape="round" color="warning" (click)="signInWithGoogle()">Login Passageiro</ion-button><br>
                <ion-button expand="full" fill="outline" shape="round" color="warning" (click)="signInWithGoogle2()">Login Motorista</ion-button>
              </ion-col>
          </ion-row>
     

   
  </div>
</ion-content>