ion-content{
  background-color: black !important;
}
.main{
  background-color: black;
  height: 100%;
  text-align: center;
  padding: 15px;
  padding-top: 80px;
}
.fontx{
  color: white;
  font-size: 15px;
  margin-top: 100px;
}
.phoneCountry{
  background-color: white;
  border-radius: 25px;
}

.img-logo{
  width: 50%;
}